body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

button {
    display: inline-block;
    padding: 10px 20px;
}

#table {
    display: block;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}